<html>
    
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>

    <body bgcolor=#d4a3ae>

        <center>

        <h1> Hire the Best Fit </h1><br>

        <!-- Create job requirement upload function -->
        <form method="POST" action="{{url_for('home')}}">
        <div class="container">
            <div class="row">
                <div class="col-6 offset-3">
                    
                        <div class="d-flex flex-column">
                    <label class="mb-3">Upload Job Requirement: 
                             <input name="userfile" type="file" accept="application/pdf" />
                    </label>
                
            </div>

        
                </div>
            </div>
        
        </div>
        <button class="btn btn-primary" type="submit" value='read!'>Submit </button>
        </form>
        <!-- <form method="POST", action="{{url_for('home')}}">
           <b> First value :  <input type="text", name='a', placeholder="enter 1"> <br><br>
            Second value :  <input type="text", name='b', placeholder="enter 2"> <br><br>
            Third value :  <input type="text", name='c', placeholder="enter 3"> <br><br>
            Fourth value : <input type="text", name='d', placeholder="enter 4"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form> -->

        <img class="mb-5" src='static\flower1.jpg' alt="flower">
        
    </center>
    
    <div class="d-flex justify-content-between px-4 ">
        <div class="text-center">
            <form>
                <label class="mb-3">Upload resume: 
                             <input name="candidate" type="file" accept="application/pdf" />
                </label>
                <br>
                <button class="btn btn-primary" type="submit"  value='read!'>Submit </button>
                
            </form>
        </div>

        <div class="text-center">
            <form>
                <label class="mb-3">Upload resume: 
                             <input name="candidate" type="file" accept="application/pdf" />
                </label>
                <br>
                <button class="btn btn-primary", type="submit" , value='read!'>Submit </button>
                
            </form>
        </div>
        
    </div> 




    </body>
</html>
